.top__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  padding: 5px 0;
  position: relative;

  button {
    padding: 0;
    margin-left: -8px;

    span {
      gap: 0 4px;
      color: var(--button-bg-primary);
    }
  }
}
