.cropper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px 0;
  flex: 1;

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  &__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 90px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      max-height: 100%;

      & > * {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
          max-height: 100%;
        }
      }
    }
  }

  &__result {
    position: relative;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    flex: 1;
    justify-content: flex-end;
  }
}
