.cropper {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex: 1;

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  &__preview {
    position: relative;
  }

  &__result {
    position: relative;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    flex: 1;
    justify-content: flex-end;
  }
}
