.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
  max-width: var(--max-width);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2px);
  margin-left: -1px;
  bottom: 0;
  z-index: 50;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    clip-path: polygon(
      0 12px,
      12px 0,
      calc(100% - 12px) 0,
      100% 12px,
      100% 100%,
      0 100%
    );
  }

  &::before {
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background-color: var(--button-bg-disabled);
    z-index: 1;
  }

  &::after {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-text-disabled);
    z-index: 0;
  }

  &__item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px 0;
    background-color: transparent;
    min-width: 56px;
    color: var(--inactive-label);
    transition: all 0.3s ease 0s;
    z-index: 2;

    &_main {
      width: 60px;
      height: 68px;
      margin: -66px -20px 0;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-color: var(--button-text-disabled);
      }

      &::after {
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        background-color: var(--button-bg-disabled);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        z-index: 1;
      }
    }

    &_active {
      color: var(--button-bg-primary);
      cursor: default;
      pointer-events: none;
    }

    &_link {
      display: inline-block;
      font-size: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    &_icon {
      position: relative;
      min-width: 24px;
      max-width: 24px;
      min-height: 20px;
      max-height: 20px;
      display: flex;
      justify-content: center;
      z-index: 2;

      svg {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;

        path {
          transition: all 0.3s ease 0s;
        }
      }
    }

    &_text {
      position: relative;
      font-family: var(--font-chakra-petch);
      font-size: 10px;
      line-height: 1.2;
      display: block;
      width: 100%;
      text-align: center;
      transition: color 0.3s ease 0s;
      z-index: 2;
    }
  }
}
