.boost {
  height: calc($tgViewportHeight - var(--global-nav-bottom-padding) - 74px);
  overflow: hidden;

  &__slider {
    height: 100%;

    & > div {
      &:not(:first-child) {
        top: 0;
        transform: translateY(0);
        // margin-top: 37.5%;
        margin-top: 31.4%;
      }

      &:nth-last-child(1) {
        right: 8px;
      }

      &:nth-last-child(2) {
        left: 8px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__media {
    position: relative;
    // padding-top: 82.4%;
    padding-top: 70%;
    background-color: var(--fill-item);
    margin-bottom: 10px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--stroke-accent);
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--stroke-dark);
      clip-path: polygon(
        1px 1px,
        30px 1px,
        30px 0,
        calc(100% - 30px) 0,
        calc(100% - 30px) 1px,
        calc(100% - 1px) 1px,
        calc(100% - 1px) 26px,
        100% 26px,
        100% calc(100% - 26px),
        calc(100% - 1px) calc(100% - 26px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 30px) calc(100% - 1px),
        calc(100% - 30px) 100%,
        30px 100%,
        30px calc(100% - 1px),
        1px calc(100% - 1px),
        1px calc(100% - 26px),
        0 calc(100% - 26px),
        0 26px,
        1px 26px
      );
    }

    &_lock {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 1;
    }

    img {
      object-fit: cover;
    }

    &_inactive {
      img {
        opacity: 0.5;
      }
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &_inactive {
      filter: grayscale(1);
      opacity: 0.5;

      & > * {
        pointer-events: none;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px 0;

    &_stats {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 4px;
      background-color: var(--button-bg-disabled);
      clip-path: polygon(
        0 0,
        26px 0,
        30px 4px,
        206px 4px,
        210px 0,
        100% 0,
        100% 100%,
        8px 100%,
        0 calc(100% - 8px)
      );
      padding: var(--global-padding);

      & > * {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #32a086;

        &:nth-child(1) {
          flex: 1;
          gap: 0 10px;
        }
      }

      button {
        min-width: 72px;
        span {
          gap: 0 4px;
        }
      }
    }

    &_progress {
      width: 100%;
      position: relative;
      height: 18px;
      border: 1px solid #2c343c;
      padding: 2px;
      line-height: 0;

      &::before {
        content: "";
        display: block;
        height: 12px;
        position: absolute;
        left: 2px;
        top: 2px;
        width: calc(100% - 4px);
        background-color: #37414b;
      }

      &_bar {
        display: inline-block;
        height: 12px;
        background-color: #28806b;
        position: relative;
        width: 50%;
      }

      &_text {
        font-family: var(--font-chakra-petch);
        font-size: 10px;
        font-weight: 500;
        color: var(--text-primary);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    &_actions {
      display: flex;
      gap: 0 4px;

      & > * {
        height: 48px;
        background-color: var(--button-bg-disabled);
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: var(--text-accent);

        &:first-child {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            8px 100%,
            0 calc(100% - 8px)
          );
        }

        &:last-child {
          clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 8px),
            calc(100% - 8px) 100%,
            0 100%
          );
        }
      }
    }
  }
}
