:export {
  // telegram
  tgBgColor: $tgBgColor;
  tgTextColor: $tgTextColor;
  tgSecondaryBgColor: $tgSecondaryBgColor;
  tgAccentTextColor: $tgAccentTextColor;
  tgHintColor: $tgHintColor;
  tgLinkColor: $tgLinkColor;
  tgButtonBgColor: $tgButtonBgColor;
  tgButtonTextColor: $tgButtonTextColor;
  tgHeaderBgColor: $tgHeaderBgColor;
  tgSectionBgColor: $tgSectionBgColor;
  tgSectionHeaderTextColor: $tgSectionHeaderTextColor;
  tgSubTitleTextColor: $tgSubTitleTextColor;
  tgDestructiveTextColor: $tgDestructiveTextColor;
  tgColorScheme: $tgColorScheme;
  tgViewportHeight: $tgViewportHeight;
  tgViewportStableHeight: $tgViewportStableHeight;
}
