.onboarding {
  height: $tgViewportHeight;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: var(--global-bottom-padding);

  &__slider_box {
    width: 100%;
    flex: 1;
    display: flex;
    position: relative;
  }

  &__slider {
    margin: 0 calc(-1 * var(--global-padding));
    flex: 1;

    &_slide {
      min-height: 100%;
      display: flex;
      flex-direction: column;

      &_content {
        position: relative;
        padding: 30px var(--global-padding) 0;

        &_title {
          margin-bottom: 8px;
        }
      }

      &_image {
        position: relative;
        width: 100%;
        padding-top: 89%;
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
    }
  }
}
